@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy light';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
    font-weight: 300;
}

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    h1, h2, h3, a, button {
        font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-weight: 800;
        color: #000000;
    }

    a, button {
        text-decoration: none;
        cursor: pointer;
    }

    button, .btn {
        display: block;
    }

    .btn {
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        position: relative;
        width: 220px;
        border: none;
        background-color: transparent;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 1;
        letter-spacing: 3.6px;
    }

    .btn::before {
        content: '';
        height: 8px;
        width: 220px;
        background-color: #f0c52e;
        position: absolute;
        top: 16px;
        right: 0;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }

    .btn:hover::before, .btn:focus::before {
        transform: scale(7);
    }

    .btn:active {
        color: rgba(0, 0, 0, 0.3)
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .container {
        width: 1160px;
        margin: 0 auto;
    }

    .main-navigation {
        background-color: #f7e296;
    }

    .site-navigation {
        font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
    }

    .user-menu a {
        font-family: 'Open Sans Light', Arial, sans-serif;
        font-weight: 300;
        line-height: 30px;
    }

    .user-menu a:hover, .site-navigation a:hover {
        color: rgba(0, 0, 0, 0.6)
    }

    .user-menu a:active, .site-navigation a:active {
        color: rgba(0, 0, 0, 0.3)
    }

    .sub-categories a {
        font-family: 'Open Sans Light', Arial, sans-serif;
        font-weight: 300;
        font-size: 15px;
        line-height: 36px;
        text-transform: none;
    }

    .sliders {
        display: flex;
        justify-content: space-around;
    }

    .second-slider {
        display: none;
    }

    .third-slider {
        display: none;
    }

    .slider-title {
        font-size: 47px;
        line-height: 56px;
    }

    .picture {
        margin-left: 28px;
        margin-top: 0;
    }

    .description {
        position: relative;
        width: 480px;
        margin-right: 19px;
        margin-top: 30px;
    }

    .description::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 7px;
        color: #000;
        display: block;
    }

    .slider-number {
        font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 179.2px;
        position: absolute;
        top: 28px;
        right: -33px;
    }

    table {
        margin-top: 48px;
    }

    td {
        font-family: 'Gilroy light', Arial, sans-serif;
        font-size: 36px;
        line-height: 48px;
        text-align: left;
        width: 160px;
    }

    th {
        font-size: 13px;
        line-height: 20px;
        text-align: left;
    }

    .popular ul {
        display: flex;
        justify-content: space-between;
        margin-top: 97px;
        margin-bottom: 160px;
    }

    .popular li {
        width: 160px;
    }

    .img-container {
        display: flex;
        width: 160px;
        height: 160px;
        background-color: #f7e296;
        margin-bottom: 33px;
        justify-content: center;
        align-items: center;
    }

    .monopod-align {
        align-items: flex-end;
    }

    .popular-item:hover .img-container {
        background-color: #f0c52e;
    }

    .popular-item:active img, .popular-item:active h3 {
        opacity: .3;
    }

    .services {
        background-color: #e5e5e5;
        width: 100%;
        margin-bottom: 94px;
    }

    .services .container {
        display: flex;
    }

    .services-btn {
        position: relative;
    }

    .services-btn li {
        margin-bottom: 24px;
    }

    .services-btn .btn {
        width: 160px;
        margin-right: 117px;
    }

    .services-btn .btn:active, .services-btn .btn:focus {
        width: 278px;
        color: #f7e184;
    }

    .services-btn .btn:active::before, .services-btn .btn:focus::before {
        background-color: #000;
    }

    .services-btn::after {
        content: '';
        position: absolute;
        width: 7px;
        height: 319px;
        background-color: #000000;
        display: block;
        top: 0;
        right: 0;
    }

    .services-content {
        margin-left: 117px;
        width: 700px;
        min-height: 195px;
        background-repeat: no-repeat;
        background-position: right center;
    }

    .services-text {
        width: 425px;
    }

    .services-content h2 {
        font-size: 47px;
        line-height: 48px;
    }

    .delivery {
        background-image: url('../img/delivery.svg');
    }

    .warranty {
        display: none;
        background-image: url('../img/warranty.svg');
    }

    .credit {
        display: none;
        background-image: url('../img/credit.svg');  
    }

    .logotypes {
        display: flex;
        justify-content: space-around;
        margin-bottom: 93px;
    }

    .logo {
        display: block;
        width: 260px;
        height: 100px;
    }

    .logo:hover img {
        display: none;
    }

    .first-logo:hover {
        background-image: url('../img/logo-1.jpg');
    }

    .second-logo:hover {
        background-image: url('../img/logo-2.jpg');
    }

    .third-logo:hover {
        background-image: url('../img/logo-3.jpg');
    }

    .fourth-logo:hover {
        background-image: url('../img/logo-4.jpg');
    }

    .about h2, .contact h2 {
        font-size: 47px;
        line-height: 48px;
    }

    .info-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 96px;
    }

    .about {
        width: 480px;
    }

    .about ul {
        list-style-type: circle;
        margin-left: 20px;
        margin-bottom: 76px;
    }
    
    .about li {
        font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 16px;
        line-height: 40px;
    }

    .contact {
        width: 560px;
    }

    .contact img {
        margin-bottom: 40px;
    }

    /* catalog */

    .device-logo:hover {
        opacity: .6;
    }

    .device-logo:active {
        opacity: .3;
    }

    .main-subtitle {
        font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 47px;
    }

    .header-subtitle {
        font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }

    .breadcrumbs a, .breadcrumbs-current {
        font-family: 'Open Sans Light', Arial, sans-serif;
        font-weight: 300;
        font-size: 15px;
        line-height: 36px;
        opacity: .3;
    }

    .breadcrumbs a:hover {
        opacity: .6;
    }

    .breadcrumbs a:active {
        opacity: .1;
    }

    .sort a {
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        opacity: .3;
    }

    .sort a:hover {
        opacity: .6;
    }

    .sort a:active, .current-sort {
        opacity: 1;
    }

    .catalog-header {
        background-color: #ebebeb;
        margin-bottom: 72px;
    }

    .sort-carets a{
        opacity: .2;
    }

    .sort-carets a:hover{
        opacity: .4;
    }

    .sort-carets a:active{
        opacity: 1;
    }

    .catalog-wrapper {
        display: flex;
        justify-content: space-around;
    }

    fieldset {
        border: none;
    }

    legend {
        font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 18px;
        line-height: 24px;
    }

    .filter-form {
        width: 220px;
    }

    .filter-form label {
        font-family: 'Open Sans Light', Arial, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 40px;
    }

    .catalog-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 760px;
    }

    .item {
        position: relative;
        width: 360px;
        height: 380px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-1 {
        background-image: url('../img/item-1.jpg');
    }

    .item-2 {
        background-image: url('../img/item-2.jpg');
    }

    .item-3 {
        background-image: url('../img/item-3.jpg');
    }

    .item-4 {
        background-image: url('../img/item-4.jpg');
    }

    .button-wrapper {
        display: none;
        width: 200px;
        margin: 0 auto;
        padding-top: 170px;
    }

    .button-wrapper .btn {
        width: 200px;
        margin-bottom: 11px;
    }

    .button-wrapper button {
        margin-left: auto;
        margin-right: auto;
    }

    .button-wrapper::before {
        content: '';
        position: absolute;
        display: none;
        width: 360px;
        height: 380px;
        top: 0;
        right: 0;
        background-color: rgba(238, 238, 238, 0.7);
    }

    .item:hover .button-wrapper::before {
        display: block;
    }

    .item:hover .button-wrapper {
        display: block;   
    }

    .compare {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        background-color: transparent;
        border: none;
        opacity: .5;
        position: relative;
    }

    .compare:hover {
        opacity: 1;
    }

    .compare:active {
        opacity: .2;
    }

    .catalog-nav {
        background-color: #ebebeb;
    }

    .catalog-nav a {
        text-transform: uppercase;
    }

    .arrow-toggle a:hover {
        background-color: #d9d9d9;
    }

    .arrow-toggle a:active {
        opacity: .3;
        background-color: #d9d9d9; 
    }

    .number-toggle a {
        opacity: 0.3;
    }

    .number-toggle a:hover {
        opacity: 0.6;
    }

    .number-toggle a:active {
        opacity: 1;
    }

    .current-toggle a {
        opacity: 1;
    }

    /* footer */

    .main-footer {
        background-color: #464646;
    }

    .center a, .left a, footer p {
        color: #fff;
    }

    .center a:hover, .left a:hover {
        color: rgba(255, 255, 255, 0.6)
    }

    .center a:active, .left a:active {
        color: rgba(255, 255, 255, 0.3)
    }

    .social-button img{
        opacity: .3;
      }

    .social-button img:hover, .social-button img:focus{
        opacity: .6;
    }

    .social-button img:active{
        opacity: .1;
    }

    input, textarea {
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 400;
        color: #464646;
        font-size: 14px;
        line-height: 18px;
        padding-left: 20px;
        overflow: hidden;
        box-sizing: border-box;
    }

    label {
        font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 18px;
        line-height: 24px;
    }

    .search-input {
        border: none;
        background-color: #f7e296;
        height: 49px;
        width: 356px;
        outline: none;
    }

    .search-input:focus {
        border-bottom: 2px solid black;
    }

    .write-us {
        width: 760px;
        background-color: #fff;
        box-shadow: 0px 5px 30px -10px #000000;
        padding: 97px 100px 106px 100px;
        margin: 0 auto;
    }

    .write-us form {
        font-size: 0;
    }

    .write-us label {
        display: block;
        margin-bottom: 13px;
    }

    .write-us input {
        width: 360px;
        height: 50px;
    }

    .write-us textarea {
        width: 760px;
        height: 156px;
        padding-top: 20px;
    }

    .write-us input, .write-us textarea {
        background-color: #f2f2f2;
        border: none;
        outline: none;
    }

    .write-us input:hover, .write-us textarea:hover {
        background-color: #eaeaea;
    }

    .write-us input:focus, .write-us textarea:focus {
        background-color: #fff;
        border: 3px solid #f7e296;
    }

    .form-align {
        display: inline-block;
    }

    .form-align:first-child {
        margin-right: 40px;
    }
    

    
      