@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy light';
    src: url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
}
.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a, button {
    text-decoration: none;
    cursor: pointer;
}
.btn {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    display: block;
    width: 220px;
    border: none;
    background-color: transparent;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    letter-spacing: 3.6px;
    outline: none;
}
.btn::before {
    content: '';
    height: 8px;
    width: 220px;
    background-color: #f0c52e;
    position: absolute;
    top: 16px;
    right: 0;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn:hover::before, .btn:focus::before {
    -webkit-transform: scale(7);
    -ms-transform: scale(7);
    -o-transform: scale(7);
    transform: scale(7);
}
.btn:active {
    color: rgba(0, 0, 0, 0.3);
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.main-header {
    position: relative;
    margin-top: 40px;
    background-color: #f7e296;
}
.main-navigation {
    width: 1040px;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 145px;
}
.main-navigation a {
    color: #000
}
.main-navigation img {
    position: absolute;
    top: -18px;
    left: 58px;
}
.user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
    padding: 0;
}
.user-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}
.third-link {
    margin-left: 38px;
}
.second-link {
    margin-left: 216px;
}
.user-menu form {
    position: relative;
    margin-top: 1px;
}
.search-input {
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    height: 49px;
    width: 355px;
    padding-left: 39px;
    outline: none;
}
.user-menu form::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/search.svg');
    top: 17px;
    left: 3px;
}
.search-input:focus {
    border-bottom: 2px solid black;
}
.search-btn {
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: -85px;
    width: 85px;
    height: 49px;
    background-color: transparent;
    border: 2px solid black;
}
.search-btn:hover {
    background-color: #000;
    color: #fff;
}
.search-btn:active {
    color: #747474;
}
.search-input:focus + .search-btn, .search-input:active + .search-btn {
    visibility: visible;
}
.user-links a {
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: #000;
    position: relative;
    padding-left: 25px;
}
.user-links a::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 2px;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.first-link::before {
    background-image: url('../img/user.svg');
}
.second-link::before {
    background-image: url('../img/compare.svg');
}
.third-link::before {
    background-image: url('../img/cart.svg');
}
.user-menu a:hover, .site-navigation a:hover {
    opacity: .6;
}
.user-menu a:active, .site-navigation a:active {
    opacity: .3;
}
.site-navigation {
    position: relative;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-top: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.sub-categories a {
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    text-transform: none;
    letter-spacing: normal;
}
.hover-menu {
    position: relative;
    padding-right: 28px;
}
.hover-menu a {
    padding-bottom: 25px;
}
.hover-menu > a:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
    bottom: 4px;
    opacity: .3;
}
.info-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 500px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style: none;
}
.info-navigation li:nth-of-type(3) {
    margin-right: 0;
    margin-left: 108px;
}
.info-navigation li:nth-of-type(2) {
    margin-left: 35px;
}
.sub-categories {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1100px;
    left: -60px;
    padding-left: 60px;
    padding-bottom: 34px;
    padding-top: 20px;
    background-color: #f7e296;
    visibility: hidden;
    z-index: 1;
    list-style: none;
}
.sub-categories ul {
    list-style: none;
    padding: 0;
}
.first-category {
    margin-right: 63px;
}
.second-category {
    margin-right: 77px;
}
.hover-menu:hover .sub-categories {
    visibility: visible;
}
.inner-header .second-link {
    margin-left: 62px;
}
.inner-header .exit-link {
    padding-left: 0;
    margin-left: 23px;
}
.inner-header .main-navigation {
    padding-bottom: 32px;
}
/*Main*/
.slider {
    position: relative;
    margin-top: -110px;
}
.slider h3 {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    color: #000000;
}
.sliders {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    min-height: 576px;
}
.first-slider {
    display: none;
}
.second-slider {
    display: none;
}
.third-slider {
    display: none;
}
.slider-controls {
    position: absolute;
    width: 95px;
    height: 12px;
    bottom: 238px;
    right: 65px;
    z-index: 1;
}
.slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    margin-right: 17px;
    background-image: url('../img/slider-button-empty.svg');
    background-size: 12px 12px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for='btn-1'], #btn-2:checked ~ .slider-controls label[for='btn-2'], #btn-3:checked ~ .slider-controls label[for='btn-3'] {
    background-image: url('../img/slider-button.svg');
}
#btn-1:checked ~ .first-slider, #btn-2:checked ~ .second-slider, #btn-3:checked ~ .third-slider {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.slider-title {
    font-size: 47px;
    line-height: 56px;
}
.picture {
    margin-left: 28px;
    margin-top: 0;
}
.description {
    position: relative;
    width: 480px;
    margin-right: 19px;
    margin-top: 30px;
}
.description::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    top: 6px;
    left: 2px;
    background-color: #fff;
    display: block;
}
.description h3 {
    letter-spacing: 0.7px;
    margin-bottom: 20px;
    position: relative;
}
.description p {
    letter-spacing: 0.14px;
    margin-bottom: 43px;
}
.second-slider .description {
    margin-right: 11px;
}
.second-slider .picture{
    margin-top: 12px;
    margin-left: 47px;
}
.third-slider .picture {
    margin-top: 63px;
    margin-left: 10px;
}
.third-slider .description {
    position: relative;
    width: 505px;
    margin-right: 35px;
}
.slider-number {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 179.2px;
    color: #fff;
    position: absolute;
    top: 30px;
    right: -33px;
}
.third-slider .slider-number {
    right: -5px;
}
.description table {
    margin-top: 48px;
}
.description td {
    font-family: 'Gilroy light', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-align: left;
    width: 160px;
}
.description td:nth-of-type(1) {
    width: 154px;
}
.description td:nth-of-type(2) {
    width: 135px;
}
.description th {
    font-size: 13px;
    line-height: 20px;
    text-align: left;
}
.popular ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 163px;
    list-style: none;
    padding: 0;
}
.popular li {
    width: 160px;
    z-index: 1;
}
.img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    margin-bottom: 33px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.monopod-align {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.popular-item h3 {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    color: #000000;
    letter-spacing: 0.2px;
    font-size: 18px;
    line-height: 24px;
}
.popular-item:hover .img-container {
    background-color: #f0c52e;
}
.popular-item:active img, .popular-item:active h3 {
    opacity: .3;
}
.services {
    background-color: #e5e5e5;
    width: 100%;
    margin-bottom: 94px;
    padding-bottom: 48px;
}
.services .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.services-btn {
    position: absolute;
    top: -35px;
    list-style: none;
    padding: 0;
}
.services-btn li {
    margin-bottom: 24px;
}
.services-btn .btn {
    width: 160px;
    margin-right: 124px;
}
.services-btn .btn:active, .services-btn .btn:focus {
    width: 278px;
    color: #f7e184;
    text-align: left;
    padding-left: 20px;
}
.services-btn .btn:active::before, .services-btn .btn:focus::before {
    background-color: #000;
}
.btn-acive {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    width: 278px;
    color: #f7e184;
    text-align: left;
    padding-left: 20px;
    background-color: #000;
    letter-spacing: 5.8px;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 12px;
    border: 0;
    outline: none;
}
.buttons-wrapper::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 319px;
    background-color: #000000;
    display: block;
    top: -100px;
    left: 277px;
}
.services-wrapper {
    list-style: none;
    padding: 0;
}
.services-content {
    position: relative;
    margin-left: 117px;
    width: 710px;
    min-height: 195px;
    background-repeat: no-repeat;
    background-position: right center;
    left: 284px;
    bottom: 54px;
}
.services-text {
    width: 430px;
    padding-top: 12px;
}
.services-content h2 {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    color: #000000;
    font-size: 47px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 31px;
    letter-spacing: 1px;
}
.services-content p {
    letter-spacing: 0.24px;
}
.delivery {
  /*  display: none;*/
    background-image: url('../img/delivery.svg');
    background-position: 557px 24px;
}
.warranty {
    display: none;
    background-image: url('../img/warranty.svg');
    background-position: 542px 0px;
}
.credit {
    display: none;
    background-image: url('../img/credit.svg');
    background-position: 533px 0px;
}
.visual {
    display: block;
}
.logotypes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 106px;
}
.logo {
    display: block;
    width: 260px;
    height: 100px;
}
.logo:hover img {
    display: none;
}
.first-logo:hover {
    background-image: url('../img/logo-1.jpg');
}
.second-logo:hover {
    background-image: url('../img/logo-2.jpg');
}
.third-logo:hover {
    background-image: url('../img/logo-3.jpg');
}
.fourth-logo:hover {
    background-image: url('../img/logo-4.jpg');
}
.about h2, .contact h2 {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    color: #000000;
    font-size: 47px;
    line-height: 48px;
    margin-bottom: 43px;
}
.info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 83px;
}
.info-wrapper h2:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #000;
    top: -13px;
}
.info-wrapper p {
    margin-bottom: 30px;
}
.about {
    width: 475px;
}
.about ul {
    list-style-type: circle;
    margin-left: 19px;
    margin-top: 66px;
    margin-bottom: 53px;
    padding: 0;
}
.about li {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    padding-left: 17px;
}
.info-wrapper .btn {
    margin-left: 2px;
    width: 260px;
}
.info-wrapper .btn:before {
    width: 260px;
}
.contact {
    width: 560px;
}
.contact img {
    margin-top: 9px;
    margin-bottom: 59px;
    cursor: pointer;
}
/* catalog */
.exit-link {
    opacity: .3;
}
.device-logo:hover {
    opacity: .6;
}
.device-logo:active {
    opacity: .3;
}
.main-subtitle {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    line-height: 48px;
    font-size: 47px;
    margin-left: 59px;
    margin-top: 37px;
    margin-bottom: 17px;
    letter-spacing: 0.7px;
}
.header-subtitle {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}
.breadcrumbs-section {
    margin-bottom: 41px;
}
.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-left: 59px;
    list-style: none;
    padding: 0;
}
.breadcrumbs a, .breadcrumbs-current {
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 14px;
    line-height: 36px;
    color: #000;
    opacity: .3;
}
.breadcrumbs li:not(:nth-of-type(3)) {
    position: relative;
    padding-right: 21px;
    margin-right: 19px;
}
.breadcrumbs li::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 7px;
    background-image: url('../img/nav-arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
    top: 15px;
    right: 0;
}
.breadcrumbs a:hover {
    opacity: .6;
}
.breadcrumbs a:active {
    opacity: .1;
}
.sort-header h2 {
    margin: 0;
}
.sort-header h2 {
    letter-spacing: 3.4px;
}
.sort-header {
    display: flex;
}
.sort-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 281px;
    padding-left: calc(((100vw - 1160px) / 2) + 51px);
    background-color: #dcdcdc;
}
.sort-right {
    display: flex;
    align-items: center;
    width: calc(((100% - 1160px) /2 ) + 831px);
    background-color: #ebebeb;
    padding-left: 48px;
}
.sort-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 782px;
}
.items-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sort-wrapper .sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 650px;
    margin: 0;
    margin-left: 22px;
    list-style: none;
    padding: 0;
}
.sort li {
    margin-right: 30px;
}
.sort .current-sort {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-left: 25px;
}
.sort a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    opacity: .3;
}
.sort a:hover {
    opacity: .6;
}
.sort a:active, .current-sort {
    opacity: 1;
}
.sort-carets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 110px;
    list-style: none;
    padding: 0;
}
.sort-carets li {
    margin-left: 18px;
}
.sort-carets a{
    opacity: .2;
}
.sort-carets a:hover{
    opacity: .4;
}
.sort-carets a:active{
    opacity: 1;
}
.catalog-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.filter-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: -webkit-calc(100vw - ((100vw - 1160px) / 2));
    width: calc(100vw - ((100vw - 1160px) / 2));
    padding-right: 70px;
    padding-left: -webkit-calc(((100vw - 1160px) / 2) + 51px);
    padding-left: calc(((100vw - 1160px) / 2) + 51px);
    background-color: #ebebeb;
     width: 200px;
}
.filter-form ul {
    list-style: none;
    padding: 0;
}
.sort-header .header-subtitle {
    height: 70px;
    line-height: 70px;

}
.filter-form form {
    margin-top: 81px;
}
.filter-form legend {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    position: relative;

}
.filter-form legend:before {
    content: '';
    position: absolute;
    top: -13px;
    width: 200px;
    height: 2px;
    background-color: #000;
}
.filter-form fieldset {
    border: none;
    padding: 0;
    margin: 0 0 16px;
}
.filter-form label {
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    position: relative;
    margin-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.filter-form input:disabled ~ label {
    opacity: .4;
}
.range {
    margin-top: 35px;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #91c92f), color-stop(55%, #dbdbdb));
    background: -webkit-linear-gradient(left, #91c92f 55%, #dbdbdb 55%);
    background: -o-linear-gradient(left, #91c92f 55%, #dbdbdb 55%);
    background: linear-gradient(to right, #91c92f 55%, #dbdbdb 55%);
}
.range-button {
    position: relative;
}
.range-button .min, .range-button .max {
    position: absolute;
    width: 22px;
    height: 24px;
    background-image: url('../img/filter-button.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.range-button .min {
    top: -13px;
    left: -6px;
}
.range-button .max {
    top: -13px;
    right: 72px;
}
.range-button .min:active, .range-button .max:active {
    background-image: url('../img/filter-button-active.png');
}
.diapason {
    font-family: 'Gilroy light', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    opacity: .2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 9px;
    margin-bottom: 31px;
    list-style: none;
    padding: 0;
}
.diapason li:nth-of-type(1) {
    margin-right: 63px;
}
.color {
    margin-bottom: 18px;
}
.color label:before, .additional-field label:before {
    content: '';
    position: absolute;
    left: -41px;
    background-repeat: no-repeat;
    background-position: center left;
}
.color label:before {
    bottom: -1px;
    width: 27px;
    height: 23px;
    background-image: url('../img/checkbox-off.svg');
}
.color input:checked ~ label:before {
    background-image: url('../img/checkbox-on.svg');
}
.color ul {
    margin-top: 18px;
    margin-bottom: 25px;
}
.additional-field label:before {
    bottom: -2px;
    width: 25px;
    height: 25px;
    background-image: url('../img/radio-off.svg');
}
.additional-field ul {
    margin-top: 18px;
}
.additional-field input:checked ~ label:before {
    background-image: url('../img/radio-on.svg');
}
.filter-form input:hover ~ label::before, .filter-form input:focus ~  label::before {
    opacity: .6;
}
.filter-form label:active:before {
    opacity: 1;
}
.filter-form .btn {
    width: 200px;
    margin-top: 7px;
}
.item-wrapper {
    position: relative;
    width: -webkit-calc((100vw - (330px + 830px) /2 ) + 831px);
    width: calc(((100% - 1160px) /2 ) + 831px);
}
.catalog-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 760px;
    padding-top: 69px;
    padding-left: 70px;
}
.item {
    position: relative;
    width: 360px;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
}
.new-label::after {
    content: 'NEW';
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    width: 56px;
    height: 40px;
    color: #dbdbdb;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    text-align: center;
    top: 29px;
    right: 27px;
    padding-top: 16px;
}
.item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.item-description li:nth-of-type(1) {
    width: 260px;
}
.item-description h3 {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-top: 17px;
    letter-spacing: 0.2px;
}
.item-description a {
    color: #000000;
}
.item-description p {
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 17px;
    margin-bottom: 55px;
}
.button-wrapper {
    position: absolute;
    top: 0;
    left: 80px;
    display: none;
    width: 200px;
    margin: 0 auto;
    padding-top: 170px;
}
.button-wrapper .btn {
    width: 200px;
    margin-bottom: 11px;
}
.button-wrapper button {
    margin-left: auto;
    margin-right: auto;
}
.item::before {
    content: '';
    position: absolute;
    display: none;
    width: 360px;
    height: 380px;
    top: 0;
    right: 0;
    background-color: rgba(238, 238, 238, 0.7);
    z-index: 1;
}
.item:hover::before, .item:focus .button-wrapper::before {
    display: block;
}
.item:hover .button-wrapper, .item:hover .button-wrapper {
    display: block;
}
.compare {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    background-color: transparent;
    display: block;
    border: none;
    opacity: .5;
    position: relative;
    z-index: 1;
}
.compare:hover {
    opacity: 1;
}
.compare:active {
    opacity: .2;
}
.catalog-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 760px;
    background-color: #ebebeb;
    margin-top: -11px;
    margin-bottom: 77px;
    list-style: none;
    padding: 0;
}
.arrow-toggle a {
    display: block;
    letter-spacing: 4.3px;
    padding: 21px 25px 19px 30px;
}
.toggle-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 499px;
}
.toggle-numbers li:not(:last-child) {
    margin-right: 31px;
}
.catalog-nav a {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    color: #000;
    text-transform: uppercase;
}
.arrow-toggle a:hover {
    background-color: #d9d9d9;
}
.arrow-toggle a:active {
    opacity: .3;
    background-color: #d9d9d9;
}
.number-toggle a {
    opacity: 0.3;
}
.number-toggle a:hover {
    opacity: 0.6;
}
.number-toggle a:active {
    opacity: 1;
}
.current-toggle a {
    opacity: 1;
}
/* footer */
.main-footer {
    background-color: #464646;
}
.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 67px;
}
.right {
    position: relative;
}
.right::after {
    content: '';
    position: absolute;
    bottom: 26px;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
}
.right p {
    margin-top: 21px;
}
.center {
    margin-top: 42px;
    margin-left: 118px;
    width: 425px;
}
.footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 64px;
    list-style: none;
    padding: 0;
}
.social li:nth-of-type(2) {
    margin-right: 23px;
    margin-left: 22px;
}
.center a, .left a, footer p {
    color: #fff;
}
.center a:hover, .left a:hover {
    opacity: .6 
}
.center a:active, .left a:active {
    opacity: .3;
}
.social-button a {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    opacity: .3;
}
.social-button:nth-of-type(1) a {
    background-image: url("../img/fb.svg")
}
.social-button:nth-of-type(2) a {
    background-image: url("../img/instagram.svg")
}
.social-button:nth-of-type(3) a {
    background-image: url("../img/twitter.svg")
}
.social-button:hover, .social-button:focus {
    opacity: .6;
}
.social-button:active {
    opacity: .1;
}
.left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 318px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: right;
}
.footer-menu {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: absolute;
    margin-top: 0px;
    width: 324px;
    right: 0;
    top: -2px 
}
.footer-menu a {
    position: relative;
    padding-left: 25px;
    margin: 0;
}
.footer-menu .first-link::before {
    background-image: url('../img/user-yellow.svg');
}
.footer-menu .second-link::before {
    background-image: url('../img/compare-yellow.svg');
}
.footer-menu .third-link::before {
    background-image: url('../img/cart-yellow.svg');
}
.footer-menu li {
    margin-top: 0;
}
.left p {
    margin-top: 66px;
}
.academy {
    position: absolute;
    width: 27px;
    height: 34px;
    background-image: url('../img/logo-html.svg');
    bottom: 14px;
    right: 0;
}
.inner-footer .footer-menu {
    width: 478px;
}
.inner-footer .exit-link {
    padding-left: 0;
    margin-left: -20px;
}
.inner-footer .second-link {
    margin-right: 0;
}
/*modal*/
.modal {
    position: fixed;
    width: 960px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 30px -10px #000000;
    box-shadow: 0px 5px 30px -10px #000000;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 1;
}
.write-us {
    padding: 94px 99px 77px 99px;
    margin-left: -480px;
    margin-top: -275px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}
.modal-login {
    display: none;
}
.modal-close {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    font-size: 0;
    background-image: url('../img/modal-close.svg');
    opacity: .5;
    top: 22px;
    right: 22px;
    z-index: 2;
}
.modal input, .modal textarea {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    color: #464646;
    font-size: 14px;
    line-height: 18px;
    padding-left: 20px;
    overflow: hidden;
}
.modal label {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.write-us form {
    font-size: 0;
}
.write-us label {
    display: block;
    margin-bottom: 6px;
}
.write-us input {
    width: 340px;
    height: 50px;
}
.write-us textarea {
    width: 740px;
    height: 137px;
    padding-top: 20px;
    margin-top: 0;
}
.write-us p:nth-of-type(3) {
    margin-top: 32px;
}
.write-us input, .write-us textarea {
    background-color: #f2f2f2;
    border: none;
    outline: none;
}
.write-us input:hover, .write-us textarea:hover {
    background-color: #eaeaea;
}
.write-us input:focus, .write-us textarea:focus {
    background-color: #fff;
    outline: 3px solid #f7e296;
}
.form-align {
    display: inline-block;
    vertical-align: top;
}
.form-align:first-child {
    margin-right: 40px;
}
.write-us .btn {
    margin-top: 24px;
    width: 200px;
}
.map {
    display: none;
    margin-left: -480px;
    margin-top: -280px;
    width: 960px;
    height: 559px;
}
.map p {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.map iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
}
.map a {
    padding: 0;
    margin: 0;
}
.modal-show {
    display: block;
    animation: bounce 0.6s;
}
.modal-error {
    animation: shake 0.6s;
}
@keyframes bounce {
    0% {
        transform: translateY(-2000px);
   }
    70% {
        transform: translateY(30px);
   }
    90% {
        transform: translateY(-10px);
   }
    100% {
        transform: translateY(0);
   }
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
   }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
   }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
   }
}
